@using Entity.Entity;
@{
    Layout = null;
    var list = ViewBag.list as List<album>;
    if (list == null)
    {
        list = new List<album>();
    }
}
@if (list.Count > 0)
{
    var i = 0;
    foreach (var item in list)
    {
        <li>
            <div class="ck_select clearfix">
                <label><input name="group@(item.id)" data-parentid="@(item.id)" type="checkbox" class="js-check-all" /></label>
                <span>@(item.user==null?item.teacher.name: item.user.name)</span>
                <span>@(item.content)</span>
                @*@if (item.albumsub != null && item.albumsub.Count > 0)*@
                @if (!string.IsNullOrEmpty(item.pic1) || !string.IsNullOrEmpty(item.pic2) || !string.IsNullOrEmpty(item.pic3) || !string.IsNullOrEmpty(item.pic4) || !string.IsNullOrEmpty(item.pic5) || !string.IsNullOrEmpty(item.pic6))
                {
                    if (i == 0)
                    {
                        <i class="arr-R rot-r270">收起</i>
                    }
                    else
                    {
                        <i class="arr-R rot-r90">展开</i>
                    }
                }
            </div>
            @*@if (item.albumsub != null && item.albumsub.Count > 0)*@
            @if (!string.IsNullOrEmpty(item.pic1) || !string.IsNullOrEmpty(item.pic2) || !string.IsNullOrEmpty(item.pic3) || !string.IsNullOrEmpty(item.pic4) || !string.IsNullOrEmpty(item.pic5) || !string.IsNullOrEmpty(item.pic6))
            {
                <dl data-name="Photolist" style="@(i == 0 ? "" : "display:none;")">
                    @if (!string.IsNullOrEmpty(item.pic1))
                    {
                        <dd>
                            <div class="ck_select clearfix">
                                <label><input name="group@(item.id)" data-id="@(item.id)-1" type="checkbox" class="checkbox" /></label>
                            </div>
                            <img src="@(item.pic1)" />
                        </dd>
                    }
                    @if (!string.IsNullOrEmpty(item.pic2))
                    {
                    <dd>
                        <div class="ck_select clearfix">
                            <label><input name="group@(item.id)" data-id="@(item.id)-2" type="checkbox" class="checkbox" /></label>
                        </div>
                        <img src="@(item.pic2)" />
                    </dd>
                    }
                    @if (!string.IsNullOrEmpty(item.pic3))
                    {
                    <dd>
                        <div class="ck_select clearfix">
                            <label><input name="group@(item.id)" data-id="@(item.id)-3" type="checkbox" class="checkbox" /></label>
                        </div>
                        <img src="@(item.pic3)" />
                    </dd>
                    }
                    @if (!string.IsNullOrEmpty(item.pic4))
                    {
                    <dd>
                        <div class="ck_select clearfix">
                            <label><input name="group@(item.id)" data-id="@(item.id)-4" type="checkbox" class="checkbox" /></label>
                        </div>
                        <img src="@(item.pic4)" />
                    </dd>
                    }
                    @if (!string.IsNullOrEmpty(item.pic5))
                    {
                    <dd>
                        <div class="ck_select clearfix">
                            <label><input name="group@(item.id)" data-id="@(item.id)-5" type="checkbox" class="checkbox" /></label>
                        </div>
                        <img src="@(item.pic5)" />
                    </dd>
                    }
                    @if (!string.IsNullOrEmpty(item.pic6))
                    {
                    <dd>
                        <div class="ck_select clearfix">
                            <label><input name="group@(item.id)" data-id="@(item.id)-6" type="checkbox" class="checkbox" /></label>
                        </div>
                        <img src="@(item.pic6)" />
                    </dd>
                    }

                    @*@foreach (var itemsub in item.albumsub)
                        {
                            if (!string.IsNullOrEmpty(itemsub.pic1))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic1)" />
                                </dd>
                            }
                            if (!string.IsNullOrEmpty(itemsub.pic2))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic2)" />
                                </dd>
                            }
                            if (!string.IsNullOrEmpty(itemsub.pic3))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic3)" />
                                </dd>
                            }
                            if (!string.IsNullOrEmpty(itemsub.pic4))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic4)" />
                                </dd>
                            }
                            if (!string.IsNullOrEmpty(itemsub.pic5))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic5)" />
                                </dd>
                            }
                            if (!string.IsNullOrEmpty(itemsub.pic6))
                            {
                                <dd>
                                    <div class="ck_select clearfix">
                                        <label><input name="group@(item.id)" type="checkbox" class="checkbox" /></label>
                                    </div>
                                    <img src="@(itemsub.pic6)" />
                                </dd>
                            }
                        }*@
                </dl>
            }
        </li>
        i++;
    }
}
else
{
    <li class="noData">暂无相关数据</li>
}

